@tailwind base;
@tailwind components;
@tailwind utilities;

/*! purgecss start ignore */
@import "prism.css";
/*! purgecss end ignore */

/*Custom Styles Here*/
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the scrollbar track */


  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #86efac; /* Color of the scrollbar thumb (handle) */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
    margin-left: 2px;
    padding-left: 2px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4ade80; /* Color of the scrollbar thumb on hover */
    
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .animate-fade-out {
    animation: fade-out 2s ease-out forwards;
  }
  
  .touch-scroll {
    touch-action: manipulation; /* This prevents pinch-to-zoom in most browsers */
  }

  